$sec-brand: #002C72;
$light: #fafcfe;
$grey: #6f6f6f;
$white: #fff;
$dark: #0e0e2c;

$outline-stroke: #e6e6e6;
$dark-grey: #686868;
$light-grey: #fcfcfc;
$text-black: #1c1c1c;
$text-dark: #323232;
$accent: #fafcfe;
$subtle-text: #8c8ca1;

$success: #19ac65;
$danger: #ef1c1c;
$info: #4692DD;
$outline: #e8e8e8;
$text: #333333;
